.RecordDetailPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 800px;
  background-image: url("/images/background/normal-bg.svg");
}

.btn_container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 140px;
  right: 16px;
  width: 184px;
  height: 39px;
}

.frame_container {
  position: absolute;
  top: 227px;

  background: none;
}

.message_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  top: 549px;
  right: 55px;
  width: 250px;
  height: 40px;
  padding: 16px;
  border-radius: 15px;
  border: 1px solid #cbcbc5;
  background: #fbf9f3;
}
