.frame_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 247px;
  max-height: 346px;
  cursor: pointer;
}

/* disabled 상태 스타일 */
.frame_wrapper.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.8;
}

/* 프레임 전면부 - 일기 사진 + 한 줄 요약 표시 */

.fore_frame {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 247px;
  height: 100%;
  max-height: 346px;
  box-sizing: border-box;
  padding: 16px 16px 12px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.fore_frame.flipped {
  opacity: 0;
  visibility: hidden;
}

.frame_front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 246px;
  height: 100%;
  max-height: 344px;
  border-radius: 15px;
  border: 1px solid var(--gray3, #9c9c9c);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.frame_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.image_container {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  background: none;
  z-index: 2;
}

.image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 5px;
}

.comment_container {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: none;
  z-index: 2;
}

.comment {
  color: var(--gray5, #2c2c2c);
  text-align: center;
  font-family: var(--font-onryuruu, "Onryuruu");
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.303px; /* 113.546% */
}

/* 프레임 후면부 - 일기 내용 표시 */

.back_frame {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid var(--gray3, #9c9c9c);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.back_frame.flipped {
  opacity: 1;
  visibility: visible;
}

.diary_comment_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.diary_info_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.diary_date {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* sudheadline */
  font-family: var(--font-nanum-squareB);
  font-size: var(--subheadline);
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.23px;
}

.tag_container {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.tag {
  align-self: stretch;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* sudheadline */
  font-family: var(--font-nanum-squareB);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.23px;
}

.more_tag {
  color: var(--gray3, #9c9c9c);
  font-feature-settings: "liga" off, "clig" off;

  /* Caption2 */
  font-family: "NanumSquareRound";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06px;
}

.place_info {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* sudheadline */
  font-family: var(--font-nanum-squareB);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.23px;
}

.diary_detail_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.diary_detail_title {
  align-self: stretch;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* body */
  font-family: NanumSquareRound;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.43px;
}

.diary_detail_content {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* body */
  font-family: NanumSquareRound;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.43px;
}
