.notification_page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.notification_page_container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  flex-direction: column;
  align-items: center;

  background-image: url("/images/background/normal-bg.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.notification_container {
  position: absolute;
  margin-top: 143px;
  width: 293px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-height: calc(100vh - 143px);
  overflow-y: auto;
  padding-bottom: 24px;
}

.today_notification {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left_notification {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.today {
  margin-bottom: 4px;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* headline */
  font-family: var(--font-nanum-squareB);
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.43px;
}

.left {
  margin-bottom: 4px;
  color: var(--gray5, #2c2c2c);
  font-feature-settings: "liga" off, "clig" off;

  /* headline */
  font-family: var(--font-nanum-squareB);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.43px;
}

.no_notification_container {
  display: flex;
  flex-direction: column;
  margin-top: 166px;
  align-items: center;
  gap: 20px;
}

.no_notification_text {
  color: var(--gray3, #9c9c9c);
  font-feature-settings: "liga" off, "clig" off;

  /* title */
  font-family: var(--font-nanum-squareB, "NanumSquareRoundBold");
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 125% */
  letter-spacing: -0.43px;
}
