/* 기본 프레임만 제공 - CSS는 사용자가 수정할 예정 */
.reminder_popup_overlay {
  position: relative;
  display: flex;
  align-items: center;
  width: 296px;
  height: 351px;
  box-sizing: border-box;
  padding: 40px 0 29px 0;
  background-color: var(--color-modal, #FBF9F3);
  border-radius: 12px;
  /* TODO: 오버레이 스타일 */
}

.reminder_popup_box {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* TODO: 팝업 박스 스타일 */
}

.close_button_wrapper {
  position: absolute;
  top: 19px;
  right: 16px;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  /* TODO: 닫기 버튼 래퍼 스타일 */
}

.close_button {
  /* TODO: 닫기 버튼 스타일 */
}

.character_image_container {
  width: 100%;
  max-width: 151px;
  height: 100%;
  max-height: 162px;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  /* TODO: 캐릭터 이미지 컨테이너 스타일 */
}

.character_image {
  /* TODO: 캐릭터 이미지 스타일 */
}

.message_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 29px; 
  align-items: center;
  font-size: 16px;
  gap: 4px;
  /* TODO: 메시지 컨테이너 스타일 */
}

.message_text {
  font-family: var(--font-nanum-squareB, NanumSquareRoundBold);
  color: var(--color-gray4, #5c5c5c);
  /* TODO: 메인 메시지 텍스트 스타일 */
}

.sub_message_text {
  font-family: var(--font-nanum-squareB, NanumSquareRoundBold);
  color: var(--color-gray4, #5c5c5c);
  /* TODO: 서브 메시지 텍스트 스타일 */
}

.go_see_button {
  width: 100%;
  max-width: 124px;
  height: 100%;
  max-height: 44px;
  box-sizing: border-box;
  padding: 11px 37px;
  text-align: center; 
  font-family: var(--font-nanum-square, NanumSquareRound);
  font-size: 13px;
  background-color: var(--gray4, #5c5c5c);
  color: var(--color-white, #ffffff);
  border: none;
  border-radius: 15px;
  /* TODO: 보러가기 버튼 스타일 */
}
