.picker-container .picker-scroller {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  margin-top: -40px !important;
}

.picker-container .picker-highlight {
  display: none !important;
}

.picker-container,
.picker-container .picker-scroller {
  -webkit-mask-image: none !important;
  mask-image: none !important;
  background-color: transparent !important;
}

.picker-container ::-webkit-scrollbar {
  display: none !important;
}
